// modal close btn style

.close-btn {

    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 8px;
    right: 8px;
    padding: 0;

    width: 30px;
    height: 30px;

    background-color: #ffffff;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        fill: #2196F3;
        cursor: pointer;
    }
}

// order button

.order-button {
    font-weight: 700;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: #2196F3;
    color: #ffffff;
    cursor: pointer;
}

// Modal buttons

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    position: absolute;
    bottom: 40px;

    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    margin-bottom: 0;
    background-color: #2196F3;
    color: #ffffff;
    cursor: pointer;
}

// Portfolio btns

.portfolio__btn {
    background-color: #F5F4FA;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    font-size: 16px;
    padding: 8px 22px;
    border-radius: 4px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &-list {
        text-align: center;
        color: #212121;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            justify-content: center;
        }
        
        @media screen and (min-width: 1200px) {
            justify-content: center;
        }
    }

    &:hover,
    &:focus {
        background-color: #2196F3;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }

}

.nav-decor {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 24px;
    padding-top: 0;
}

.nav-portf {
    padding-top: 24px;
}

.header-border {
    border: 2px;
}

// footer btn

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    color: #ffffff;
    cursor: pointer;
}