// Соціальні мережі

.social-media__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196F3;
    }

    &:hover .social-media__icon,
    &:focus .social-media__icon {
        fill: #ffffff;
    }
}

// Кліенти
.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 5px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: #2196F3;
    }

    &:hover .clients-svg,
    &:focus .clients-svg {
    fill: #2196F3;
}
}

// Footer links
  
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: #2196F3;
}
}