.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #2196F3;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        margin-right: 88px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        margin-right: 94px;
    }
}

.footer-logo {
    margin-right: 0;
    margin-left: 0;
}

.logo-header {
    color: #212121;
}

.logo-footer {
    color: #fff;
}