.logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 94px;
}

.logo-header {
    color: #212121;
}

.logo-footer {
    color: #fff;
}