.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transform: translateX(100%);

	width: 100vw;
	height: 100vh;
	padding: 48px 40px;

	display: flex;
	flex-direction: column;

	background-color: #fff;

	transition: transform 500ms;

	&.is-open {
		transform: translateX(0); 
	}

	@media screen and (min-width: 768px) {
		display: none;
	}

    .current {
        color: #2196F3;
    }
}


.mobile-menu-btn {
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;

	display: flex;
	align-items: flex-start;
    justify-content: flex-start;

	z-index: 1000;

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.mobile-menu-burger {
	transition: 500ms;

	.mobile-menu-btn.is-open & {
		opacity: 0;
	}
}

.mobile-menu-close {
	opacity: 0;
	transition: 500ms;

	.mobile-menu-btn.is-open & {
		opacity: 1;
        position: fixed;
        top: 15px;
        right: 15px;
	}
}

.nav-decor {
    display: flex
}

.mobile-menu-burger {
    width: 60px;
    height: 50px;
    fill: #2196F3;
}

.mobile-menu-nav:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-link {

    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    &:focus {
        color: #2196F3;
    }
}

.mobile-contacts_item:not(:last-child) {
    margin-bottom: 32px;

    .accent {
        color: #2196F3;
        font-size: 34px;
    }
}

.mobile-link-contacts {

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #757575;

}

.mobile-socials {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    align-items: center;
    gap: 10px;
}

.mobile-menu-socials:not(:last-child) .menu-socials {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}

.menu-socials {

    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2196F3;
}