.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;

    z-index: 10000;
}

.icon-mobile-close {
    position: relative;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-link {

    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    &:focus {
        color: #2196F3;
    }
}

.mobile-contacts_item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-link-contacts {

    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    text-decoration: none;
    color: #757575;

}

.mobile-socials {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    align-items: center;
    gap: 10px;
}

.mobile-menu-socials:not(:last-child) .menu-socials {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}

.menu-socials {

    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #2196F3;
}