.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        justify-content: space-evenly;
    }

    @media screen and (min-width: 1200px) {
        justify-content:left;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}

.foot-container {
    align-items: center;
    text-align: center;
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        text-align: center;
        margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0px;
        text-align: left;
    }
}

.footer_list {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-right: 70px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    position: relative;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: #FFFFFF;
    margin-top: 20px;
}

.link-footer {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list li {
    margin-top: 9px;
}

// /* Ссылки футер */

.footer h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
    }
}

.footer-icon {
    fill: white;
}

// /* Футер форма */

.footer-form {
    margin-top: 40px;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 1200px) {
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        margin-top: 0px;
        text-align: left;
    }
}

.input-flex {
    align-items: center;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 1200px) {
        align-items: center;
        display: flex;
    }
}

.footer-input {
    display: flex;
    align-items: center;
    padding-left: 16px;

    background-color: transparent;

    width: 358px;
    height: 50px;


    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;

    margin-right: 12px;
    outline: transparent;
}

.footer-input:hover,
.footer-input:focus {

    border: 1px solid rgba(33, 150, 243, 1);
    cursor: pointer;
}

.footer-input::placeholder {

    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.button-icon {
    margin-left: 10px;
}