.main-section {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
    padding-top: 118px;

    background-image: linear-gradient(to right,
            #2f303a66 15%,
            #2f303a66 40%,
            #2f303a66 65%,
            #2f303a66),
        url(../../images/hero/hero_mobile.jpg);

        // Retina display mobile

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../../images/hero/hero_mobile@2x.png);
        }    

    @media screen and (min-width: 768px) {
        max-width: 768px;
        height: 400px;
        padding-top: 118px;

        background-image: linear-gradient(to right,
                #2f303a66 15%,
                #2f303a66 40%,
                #2f303a66 65%,
                #2f303a66),
            url(../../images/hero/hero_tablet.jpg);
    }

    // Retina display tablet

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../../images/hero/hero_tablet@2x.jpg);
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        height: 600px;
        padding-top: 200px;

        background-image: linear-gradient(to right,
                #2f303a66 15%,
                #2f303a66 40%,
                #2f303a66 65%,
                #2f303a66),
            url(../../images/hero/hero_desk.jpg);

        // Retina display desktop

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../../images/hero/hero_desk@2x.jpg);
        }
    }
}

.main-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    width: 360px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.6;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 700px;
    }
}