.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 450px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    gap: 30px;
    margin-bottom: 30px;
}

.list-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    &>item {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }

    & h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #212121;
        text-transform: uppercase;
        margin-top: 0;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }

    & p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        margin-bottom: 0;

        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
}

.services_item {
    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}